.nav-color {
    background-color: #3FADA8 !important;
    border-top: solid 2px #4D4D4D;
}
.dropdown-content {
    margin-top: 4.35em !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: inherit !important;
}

